<div class="wizard-tabs" style="position : absolute; left : -1000px;">
    <ul class="wizard-steps">
        <li class="active">
            <a href="#form-info" data-toggle="tab" class="text-center">
                <span class="badge hidden-xs">1</span>
                Info
            </a>
        </li>
        <li>
            <a href="#form-finance" data-toggle="tab" class="text-center">
                <span class="badge hidden-xs">2</span>
                Finance
            </a>
        </li>
        <li>
            <a href="#form-package" data-toggle="tab" class="text-center">
                <span class="badge hidden-xs">3</span>
                Package
            </a>
        </li>
    </ul>
</div>